
.mario{
 
    position: absolute;
    bottom: 115px;
    left: 0;
    z-index: 1000;
  
  
  }
   
  






.little{
    
    height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-image: url(../img/mario/spriteMario.png);
        background-position: -128px 0px;
        transform: scale(2)translateX(30px);


}
.normal{
    height: 40px;
        width: 20px;
        background-repeat: no-repeat;
        background-image: url(../img/mario/spriteMario.png);
        background-position: -128px -70px;
        transform: scale(2)translateX(30px);

}





    .little.runLeft{
        background-position: center center;
        background-image: url(../img/mario/MarioLtWalk.gif);
    }.little.runRight{
        background-position: center center;
        background-image: url(../img/mario/MarioLtWalk.gif);
    }

    .normal.runLeft{
        background-position: center center;
        background-image: url(../img/mario/MarioUpWalk.gif);
    }.normal.runRight{
        background-position: center center;
        background-image: url(../img/mario/MarioUpWalk.gif);
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
    }.normal.SayHello{
        background-image: url(../img/mario/spriteMario.png);
        background-position: -48px -110px;
        transform: scale(2)translateX(30px);
        -moz-transform: scale(2)translateX(30px);
    }


  
    #Champignon{
        position: absolute;
        bottom: 115px;
        left: 100vw;
        display: block;
       height: 20px;
       width: 20px;
        background-image: url(../img/mario/spriteMarioDecor.gif);
        background-repeat: no-repeat;
        background-position: -210px 2px;
        transform: scale(2);
        opacity: 1;
        transition: opacity .300s ease-in-out;
    
      } 
      #Champignon.disable{
        opacity: 0;
      }
  
      .bulle{
        opacity: 0;
      }
   
.bulle.active{
    opacity: 1;
    border: solid 2px black;
    padding: 0.5em;
    border-radius: 0.2em;
    position: absolute;
    top: -70px;
    left: -15px;
    font-size: 0.5em;
    height: 7ch;
    width: 45vw;
    background: rgb(255, 255, 255);
}.bulle.active::after{
    content: "";
    position: absolute;

    border-style: solid;
    border-width: 2px;
    background: rgb(255, 255, 255);
    border-color: transparent transparent black black;
    transform: rotate(-45deg);
    left: 10px;
    bottom: -7px;
    width: 10px;
    height: 10px;
}.instaBulle{
    display: block;
    margin-top: 0.5em;
    color: blue;
    text-decoration: none;
}



.coin[disable="false"]{
    height:100%;
  width:36px;
  transform-style:preserve-3d;
  background-image: url("../img/mario/marioCoin2.svg");
  background-repeat: no-repeat;
  background-position: center;
  animation: flip 1.2s infinite;

}
.coin[disable="true"]{
    transform: scale(5);
}
@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    60% {
        transform: rotateY(180deg);
    }
}
